
@{
    ViewBag.Title = "EmptyShoppingCart";
}

<hr />
<h3 class="mt-5 py-2 shadow-lg p-3 mb-5 bg-white rounded text-center ">
    You have an empty shopping cart!
</h3>
<div class="m-5"></div>
<h3 class="py-2 shadow-lg p-3 mb-5 bg-white rounded text-center ">
    Please add items to it.
</h3>