@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@

<h3 class="py-2 shadow-lg p-3 mb-5 bg-white rounded text-center text-danger mt-5">
    An error occurred while processing your request!
</h3>

