@{
    ViewBag.Title = "About";
}

<hr />
<h3 class="py-2 shadow-lg p-3 mb-5 bg-white rounded text-center ">
    We are WeShop!
    Together we reinvent shopping!
</h3>

<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form-group p-4 mb-5">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-header"><h3>@ViewBag.Title</h3></div>
        <div class="card-body">
            <h4 class="card-title">Details about the developer</h4>
            <p class="card-text">This online shop was built with hard work and a lot of effort!</p>
            <p class="card-text">Don't hesitate to contact! Keep in touch! Check contact page.</p>
            <p>&copy; @DateTime.Now.Year - WeShop</p>
        </div>
    </div>
</div>




