@{
    ViewBag.Title = "Contact";
}


<div class="container h-100 mt-5 mb-5">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="card-body">
                <h4 class="card-title">Address</h4>
                <p class="card-text"></p>
                <p class="card-text">We would like to help! Don't hesitate to contact!</p>
                <address>
                    Bucharest<br />
                    Tohani Street<br />
                    Sector 4<br />
                    <span title="Phone">Phone:</span>
                    0745.345.987
                </address>
            </div>
        </div>
       
    </div>
</div>



<hr />
<div class="py-2 shadow-lg p-3 mb-5 mr-5 ml-5 bg-white rounded text-center">
    <address class="pr-5 mr-5">
        <strong>Support:</strong> <a href="mailto:rares.munteanucni@gmail.com">rares.munteanucni@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">weshop.marketing@gmail.com</a><br />
    </address>
</div>