
@{
    ViewBag.Title = "NewOrderExists";
}

<hr />
<h3 class="mt-5 py-2 shadow-lg p-3 mb-5 bg-white rounded text-center ">
    You already have an existing order created!
</h3>
<div class="m-5"></div>
<h3 class="py-2 shadow-lg p-3 mb-5 bg-white rounded text-center ">
    Please add items and confirm it or delete the order.
</h3>

