@{
    ViewBag.Title = "NewOrderExists";
}

<hr />
<h3 class="mt-5 py-2 shadow-lg p-3 mb-5 bg-white rounded text-center ">
    You don't have an active order!
</h3>
<div class="m-5"></div>
<h3 class="py-2 shadow-lg p-3 mb-5 bg-white rounded text-center ">
    Please create one and start your shopping session.
</h3>